.side-border {
  border: 1px solid tomato;
  border-width: 0px 1px 0px 1px;
}

strong.d-flex.justify-content-center {
  border: 1px solid tomato;
  border-width: 1px 0;
}

.filterBar {
  display: flex;
  align-items: center;
  margin: 0;
}
