.side-border {
  /*  border: 1px solid tomato; */
  border-width: 0px 1px 0px 1px;
}

strong.d-flex.justify-content-center {
  border: 1px solid tomato;
  border-width: 1px 0;
}

.filterBar {
  flex-wrap: inherit;
}

.buyPage-list {
  overflow: scroll;
  height: 80vh;
}
.side-border {
  /*  border: 1px solid tomato; */
  border-width: 0px 1px 0px 1px;
}

i.cartOrders {
  pointer-events: none;
  position: absolute;
  background: rosybrown;
  top: -16px;
  right: -2px;
  font-size: 20px;
  padding: 4px;
  border-radius: 25px 25px 25px 25px;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -9;
}

@media screen and (min-width: 768px) {
  .side-border {
    border: 1px solid tomato;
    border-width: 0px 1px 0px 1px;
  }
}
